p{
    border: 1px solid black;;
}
#figure1{
    background-color: cadetblue;
    font-weight: bold;
    font-size: 50px;
}
#figure2{
    background-color: orangered;
}
#figure3{
    background-color: lightgoldenrodyellow;
    padding: 100px;
}

@media (min-width: 600px){
    #figure1{
        font-weight: bold;
        font-size: 50px;
    }
    #figure3{
        padding: 100px;
    }
}

@media (max-width: 600px) {
    #figure2{
        display: none;
    }
}
